@media screen and (min-width: 480px) {

    .hidden {
        display: block;

    }

    img[alt="Small Logo"] {
        display: none;
    }

    #logo {
        display: block;
    }

    .sidebar {
        flex-basis: 35%;
        align-items: flex-start;
        padding-left: 2%;
    }

    .self-a {
        align-self: flex-start;
    }

    .overflow {
        flex-basis: 65%;
    }

    .btn {
        font-size: small;
    }



}