@media screen and (min-width: 320px) {
    body {
        font-size: .8rem;
        fo
    }

    .hidden {
        display: block;

    }

    /* -----SIDEBAR------ */
    img[alt="Small Logo"] {
        display: none;
    }

    #logo {
        display: block;
    }

    .sidebar {
        flex-basis: 40%;
        align-items: flex-start;
        padding-left: 2%;
    }


    .overflow {
        flex-basis: 60%;
    }
}