@media screen and (min-width: 480px) {

    .hidden {
        display: block;

    }

    /* in alternativa funziona anche [alt$="parole contenuta"] */
    img[alt="Small Logo"] {
        display: none;
    }

    #logo {
        display: block;
    }

    .sidebar {
        flex-basis: 35%;
        align-items: flex-start;
        padding-left: 2%;
    }

    ul.playlist {
        display: flex;
        flex-direction: column;
        gap: .9rem;
        font-size: smaller;
    }

    .self-a {
        align-self: flex-start;
    }

    .overflow {
        flex-basis: 65%;
    }

    .pill {
        font-size: small;
    }

    .card {
        flex-basis: calc(100% / 3 - 10px);
    }

    .i-container {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .i-container>a {
        color: white;
    }

    .track {
        width: 200px;
    }
}