@media screen and (min-width: 480px) {

    .hidden {
        display: inline-block;
    }

    img[alt="Small Logo"] {
        display: none;
    }

    #logo {
        display: block;
    }

    .sidebar {
        flex-basis: 30%;
    }

    .overflow {
        flex-basis: 70%;
    }
}