body {
    font-family: sans-serif;
    font-weight: 600;
}

:root {
    --color1: #787B7F;
    --color2: #141922;
    --color3: #ADFF2F;

}

.main {
    display: flex;
    height: 90vh;
}

/* -----UTILITY----- */

.hidden {
    display: none;
}

.rounded {
    border-radius: 50%;
}

.square {
    width: 40px;
    aspect-ratio: 1;
}

.white {
    color: white;
}

.grey {
    background-color: var(--color1);
}


/* -----SIDEBAR------ */
.sidebar {
    background-color: #000000;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color1);
    font-size: 1rem;
    flex-basis: 10%;
}

.sidebar img:not(#logo) {
    width: 1.5rem;
}

#logo {
    display: none;
    max-width: 8rem;
}

.fa-plus {
    color: #000000;
    font-size: 2rem;
}


.playlist {
    display: none;
}

.newplaylist {
    display: flex;
    align-items: center;

}

.square.grey {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidefooter:not(hr) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2px;
}

.sidefooter hr {
    max-width: 100%;
}

.install,
.profile {
    display: flex;
    align-items: center;
    gap: 2px;

}




/* -----OVERFLOW----- */
.overflow {
    flex-basis: 90%;
    overflow: auto;
}

.topbar {
    height: 10vh;
    background-color: rgba(8, 11, 18, 0.9);
    position: sticky;
    top: 0;
}