body {
    font-family: sans-serif;
    font-weight: 600;
}

:root {
    --color1: #787B7F;
    --color2: #141922;
    --color3: #adff2f;
    --color4: #282828;


}

.main {
    display: flex;
    height: 90vh;
}

/* -----UTILITY----- */

.hidden {
    display: none;
}

.rounded {
    border-radius: 50%;
}

.align {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color1);
}

/* bottone upgrade */
.pill {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1.5rem;
    margin: 1rem;
    font-size: xx-small;
}


.square {
    width: 40px;
    aspect-ratio: 1;
}



.grey {
    background-color: var(--color1);
}

.self-a {
    align-self: center;
}


/* -----SIDEBAR------ */
.sidebar {
    background-color: #000000;
    padding-block: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color1);
    font-size: 1rem;
    flex-basis: 10%;
}

ul,
ul.playlist {
    display: flex;
    flex-direction: column;
    gap: .9rem;
    font-size: smaller;
}

#playlist-title {
    color: white;
}

.sidebar img:not(#logo) {
    width: 1.5rem;
}

#logo {
    display: none;
    max-width: 10rem;
    margin-bottom: 1rem;
}

.fa-plus {
    color: #000000;
    font-size: 2rem;
}

.square.grey {
    justify-content: center;
}

.sidefooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.sidefooter>hr {
    max-width: 90%;
    border-color: var(--color1);
}

img[alt="profile icon"] {
    border: 1px solid var(--color3);
}

/* -----OVERFLOW----- */
.overflow {
    flex-basis: 90%;
    overflow: auto;
    color: var(--color4);
    background: rgb(120, 123, 127);
    background: linear-gradient(60deg, rgba(120, 123, 127, 1) 36%, rgba(173, 255, 47, 0.35898109243697474) 100%);
}

.topbar {
    background-color: rgba(8, 11, 18, 0.8);
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.music-content {
    width: 95%;
    margin: 0 auto;
}


.linktree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    color: var(--color1);
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 700;
}

.linktree>div {
    /*non necessario dato che senza ottengo lo stesso risultato
    flex-basis: auto; */
    padding: 0.6rem;
}

.linktree>div>a {
    color: #000000;
}

.card {
    flex-basis: calc(100% / 2 - 10px);
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8rem;
}

.card img {
    width: 100%;
}

.card figure {
    position: relative;
}



.card h4,
h2 {
    font-weight: 800;
    color: white;
}

.recentlyplayed,
.suggested,
.popular {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-block: 20px;
}

/* -----PLAYER----- */
.player {
    display: flex;
    height: 10vh;
    background-color: var(--color4);
    color: white;
    font-size: x-small;
    justify-content: space-between;

}

.left,
.center,
.right {
    display: flex;
    gap: 10px;
    align-items: center;

}

.right,
.left {
    flex-basis: 15%;
}

.center {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}

.i-container {
    display: none;
}


.left>figure>img {
    width: 50px;
    text-align: center;
    margin-left: 15px;
}

.trackbar,
.volumebar {
    display: flex;
    align-items: center;
    gap: 3px;
}

.right .track {
    width: 80%;
}

.music-commands {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1rem;
}

.music-commands>a {
    color: white;
}

.music-commands .fa-circle-play {
    font-size: 1.5rem;
}




/* -----trackbar/volumebar---- */
.track {
    appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 9999px;
    -webkit-transition: .2s;
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 25%, #787b7f 75%, #787b7f 100%);
    /* background-size: 100% 100%; */
    opacity: 0.7;
}

.track::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: var(--color3);
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); */
}



/* ----BONUS----- 
FATTO :hover su linktree e sidebar con border --color3 e color white!!!
FATTO :hover ingrandimento bottone UPGRADE (scale)
FATTO MA DIVERSO :hover ::after con opacity e position absolute transform: traslate (-50%, -50%); 
del playbutton su sfondo opaco(ho usato brightness) in z-index: 1;
FATTO :hover cambio colore barra avanzamento track 
(<input type="range" name="track" min="0.00" max="3.49">)
*/

/* ---BONUS :hover albums--- */
figure>a {
    font-size: 50px;
    color: var(--color3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

.card:hover figure>img {
    filter: brightness(0.4)
}

.card:hover figure>a {
    display: block;
}


/* ---BONUS :hover GREEN BORDER + color white--- */

li>a:hover,
.playlist li:hover,
.sidefooter>.align:hover {
    color: white;
    border-left: 3px solid var(--color3);
    /* text-indent: +1%; */
}

.linktree>div>a:hover {
    color: white;
    border-bottom: 3px solid var(--color3);

}

/* ---BONUS :hover pill scale + color white--- */

.pill>a:hover {

    color: white;
}

.pill:hover {
    scale: 1.1;
}